%h1 
	-if current_user
		Welcome to the Twitter Clone,
		=current_user.full_name
	-else
		Welcome to the Twitter Clone

%h2
	Recent Tweets

-@tweets.each do |tweet|
	%a.username{href: "/user/#{tweet.user.id}"}='@'+ tweet.user.username
	%br
	=tweet.tweet_text
	%br
	=tweet.tweet_time.strftime('%e %b %Y %H:%m:%S%p')
	%br
	%br




