%header
	%h1 Twitter Clone Home

#content
	%h2 This is a Twitter clone
	%p
		Please 
		%a{href: '/login'} click here to login.
	%p
		If you don't have an account,
		%a{href: '/signup'} click here to register.