!!!

%html
	%head
		%title Twitter Clone
		%link{href:"", rel: "stylesheet", type: "text/css"}
		%link{rel: "stylesheet", href: "/stylesheet.css", type: "text/css"}
	%body
		#page_wrapper
			#content_wrapper
				=yield
