#header
	%h1 Twitter Clone Login

#content_wrapper
	%form{action: '/login', method: 'POST'}
		%ul.vert
			%li.vert
				%label{for: 'username'} Username
				%input{type: 'text', name: '[user]username'}
			%li.vert
				%label{for: 'password'} Password
				%input{type: 'password', name: '[user]password'}
		%input{type: 'submit', value: 'Let\'s Do It!'}